ion-card:first-of-type {
  animation: 2s linear shakeIt infinite;
}

@keyframes growShrink {
  0% {
    height: 0;
  }

  50% {
    height: 500px;
  }

  100% {
    height: 0;
  }
}

@keyframes blueToGrey {
  0% {
    background-color: #0f86ff;
  }

  50% {
    background-color: #cecece;
  }

  100% {
    background-color: #0f86ff;
  }
}

@keyframes shakeIt {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-20px);
  }

  75% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0);
  }
}
